<div class="log-progress__status">
    <div class="log-progress__icon">
        <i class="material-icons">loop</i>
    </div>

    <div id="log_progress_text" class="log-progress__text">
    </div>
</div>
