<div data-component="logs-summary" class="log-progress__status">
    <div class="log-progress__icon">
        <i class="material-icons">loop</i>
    </div>

    <div id="logs_summary_text" class="log-progress__text">
    </div>
</div>
