<template id="log-line">
    <div class="logs__line" data-status="warning"></div>
</template>

<template id="log-summary">
    <div class="logs__summary">
        <p class="logs__summary-title h3"></p>
        <div class="logs__summary-content"></div>
    </div>
</template>

<template id="summary-warning-title">{{ "Warning summary"|trans({}) }}</template>
<template id="summary-error-title">{{ "Error summary"|trans({}) }}</template>
