<template id="log-line">
  <div class="logs__line">
    <div class="logs__line-content"></div>
  </div>
</template>

<template id="log-summary">
  <div class="logs__summary">
    <div class="logs__summary-top">
      <p data-slot-template="title" class="logs__summary-title h3"></p>
      <span data-slot-template="count" class="logs__summary-total badge badge-danger"></span>
    </div>
    <div class="logs__summary-scroll"></div>
  </div>
</template>

<template id="summary-warning-title">{{ "Warning summary"|trans({}) }}</template>
<template id="summary-error-title">{{ "Error summary"|trans({}) }}</template>

<template id="summary-warning-link">
  <a class="logs__summary-anchor link">{{ "See warning"|trans({}) }}</a>
</template>
<template id="summary-error-link">
  <a class="logs__summary-anchor link">{{ "See error"|trans({}) }}</a>
</template>
