<div data-component="logs-viewer" class="logs__inner">
    <div data-slot-component="scroll" class="logs__scroll" tabindex="0">
        <div data-slot-component="list" class="logs__list"></div>
    </div>
    <div data-slot-component="summary" class="logs__summaries"></div>
</div>
