<div class="progress-tracker" data-component="progress-tracker">
    <div class="log-progress">
        {% include "@ModuleAutoUpgrade/components/logs-summary.html.twig" %}
        {% include "@ModuleAutoUpgrade/components/progress-bar.html.twig" %}
    </div>
    <div class="logs">
        {% include "@ModuleAutoUpgrade/components/logs-viewer.html.twig" %}
        {% include "@ModuleAutoUpgrade/components/logs-templates.html.twig" %}
    </div>
</div>

