<div class="render-field {% if field.description is not defined or not field.description %}render-field--no-desc{% endif %}"
  {% if field.id %}
    id="{{ field.id }}"
  {% endif %}
>
  <div class="render-field__infos">
    <p class="render-field__title">
      {{ field.title }}
      {% if field.required is defined and field.required %}
        <sup class="text-danger">*</sup>
      {% endif %}
    </p>

    {% if field.description is defined and field.description %}
      <p class="render-field__desc text-muted">
        {{ field.description }}
      </p>
    {% endif %}
  </div>

  <div class="render-field__action">
    {% block action_content %}
      {# Default content can go here, or it can be left empty for children to override #}
    {% endblock %}
  </div>

  {% if field.error_message is defined and field.error_message is not empty %}
    <div class="render-field__error">
      <div class="error-message">
        <i class="material-icons">error</i>
        {{ field.error_message }}
      </div>
    </div>
  {% endif %}
</div>
