{% extends "@ModuleAutoUpgrade/components/render-field.html.twig" %}

{% block action_content %}
  <div class="render-field__select">
    <select name="{{ field.key }}">
      {% for cValue, cKey in field.choices %}
        <option value="{{ cValue|default(0) }}" {{ cValue == field.value ? 'selected' : '' }}>
          {{ cKey }}
        </option>
      {% endfor %}
    </select>
  </div>
{% endblock %}
