<div class="render-field {% if description is not defined or not description %}render-field--no-desc{% endif %}">
  <div class="render-field__infos">
    {% if title is defined and title %}
      <p class="render-field__title">
        {{ title }}
        {% if required is defined and required %}
          <sup class="text-danger">*</sup>
        {% endif %}
      </p>
    {% endif %}

    {% if description is defined and description %}
      <p class="render-field__desc text-muted">
        {{ description }}
      </p>
    {% endif %}
  </div>

  <div class="render-field__action">
    {% block action_content %}
      {# Default content can go here, or it can be left empty for children to override #}
    {% endblock %}
  </div>

  {% if error_message is defined and error_message is not empty %}
    <div class="render-field__error">
      <div class="error-message">
        <i class="material-icons">error</i>
        {{ error_message }}
      </div>
    </div>
  {% endif %}
</div>
