<div class="scrollable-list">
  {% if title is defined and title and not empty %}
    <div class="scrollable-list__header">
      <p class="h3">{{ title }}</p>
      {% if status is defined and status and not empty %}
        <span class="scrollable-list__count badge badge-{{ status }}">{{ items|length }}</span>
      {% endif %}
    </div>
  {% endif %}

  <div class="scrollable-list__scroll">
    {% for item in items %}
      <p class="scrollable-list__item">
        {{ item }}
      </p>
    {% endfor %}
  </div>
</div>
