{% extends "@ModuleAutoUpgrade/layouts/step-content.html.twig" %}

{% block page_class %}backup-selection-page{% endblock %}

{% block title %}
  <h2>{{ step.title }}</h2>
{% endblock %}

{% block content %}
  {% include "@ModuleAutoUpgrade/components/backup-selection.html.twig" %}
{% endblock %}

{% block buttons_inner %}
  <button class="btn btn-lg btn-primary" form="{{ form_backup_selection_name }}" type="submit">
    {{ 'Restore'|trans({}) }}
  </button>
{% endblock %}
