{% extends "@ModuleAutoUpgrade/layouts/step-content.html.twig" %}

{% block page_class %}backup-page{% endblock %}

{% block title %}
  <h2>{{ step.title }}</h2>
{% endblock %}

{% block content %}
  <div class="backup-page__container">
    <div class="backup-page__section">
      <p>
        {{ "Backing up your store's files, database, and images means you can restore to a previous version if something goes wrong during the update. This keeps your data safe and ensures your business stays up and running."|trans({}) }}
      </p>
    </div>

    <div class="backup-page__section">
      {% include "@ModuleAutoUpgrade/components/render-switch.html.twig" with {
        id: "PS_AUTOUP_BACKUP_FILES_DB",
        name: "PS_AUTOUP_BACKUP_FILES_DB",
        title: "Back up files and database",
        value: default_backup_files_and_database
      } %}

      {% include "@ModuleAutoUpgrade/components/render-switch.html.twig" with {
        id: "PS_AUTOUP_BACKUP_WITH_IMAGES",
        name: "PS_AUTOUP_BACKUP_WITH_IMAGES",
        title: "Include images",
        value: default_include_images
      } %}
    </div>
  </div>
{% endblock %}

{% block buttons_inner %}
  <button class="btn btn-lg btn-primary" type="button">
    {{ 'Launch backup'|trans({}) }}
  </button>
{% endblock %}
