{% extends "@ModuleAutoUpgrade/layouts/step-content.html.twig" %}

{% block page_class %}restore-page{% endblock %}

{% block title %}
  <h2>{{ step.title }}</h2>
{% endblock %}

{% block content %}
  {% include "@ModuleAutoUpgrade/components/progress-tracker.html.twig" with {
    successRoute: 'restore-step-post-restore'
  } %}
{% endblock %}

{% block buttons_inner %}
  <button class="btn btn-lg btn-primary" type="button">
    {{ 'Restore'|trans({}) }}
  </button>
{% endblock %}
