{% block step_content %}
  <div
    id="ua_step_content"
    class="{% block page_class %}default-page{% endblock %}"
    {% if initial_process_action is defined %}data-initial-process-action="{{ initial_process_action }}"{% endif %}
  >
    <div class="page__title">
      {% block title %}
        {# Default title can go here, or it can be left empty so that children can override it #}
      {% endblock %}
    </div>

    <div class="page__content">
      {% block content %}
        {# Default content can go here, or it can be left empty so that children can override it #}
      {% endblock %}
    </div>

    {% block buttons %}
      <div class="page__buttons">
        {% block buttons_inner %}
          {# Default buttons can go here, or it can be left empty so that children can override it #}
        {% endblock %}
      </div>
    {% endblock %}
  </div>
{% endblock %}
