@use "../mixins" as *;
@use "../variables" as *;

$e: ".check-requirements";

#{$ua-id} {
  #{$e} {
    --#{$ua-prefix}requirements-background-color: var(--#{$ua-prefix}muted-background-color);
    padding: 1rem;
    margin-block-start: 0.5rem;
    background-color: var(--#{$ua-prefix}requirements-background-color);
    border-radius: var(--#{$ua-prefix}border-radius);

    &__title {
      margin-block-end: 0.5rem;
    }

    &__message {
      margin-block-end: 1rem;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-block-end: 1rem;
    }

    &__requirement {
      position: relative;
      padding-inline-start: 1.75rem;
      font-size: 0.875rem;
      line-height: 1.4;

      &::before {
        content: "";
        display: block;
        font-family: var(--#{$ua-prefix}font-family-material-icons);
        font-size: 1.25rem;
        line-height: 1;
        width: 1.375rem;
        height: 1.25rem;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      &--success {
        &::before {
          content: "check";
          color: var(--#{$ua-prefix}green-500);
        }
      }

      &--warning {
        &::before {
          content: "warning";
          color: var(--#{$ua-prefix}yellow-500);
        }
      }

      &--error {
        &::before {
          content: "close";
          color: var(--#{$ua-prefix}red-500);
        }
      }
    }

    &--success {
      padding: 0;
      background-color: transparent;
    }
  }
}
