{% extends "@ModuleAutoUpgrade/layouts/error.html.twig" %}

{% block img %}
  <img class="error-page__img" src="{{ psBaseUri }}img/404.svg" width="408" height="141" alt=""/>
{% endblock %}

{% block title %}
  <h2 class="error-page__title">
    {{ 'Something went wrong...'|trans({}) }}
  </h2>
{% endblock %}

{% block description %}
  <p class="error-page__desc">
    {{ 'The page you requested cannot be found.'|trans({}) }}
  </p>
{% endblock %}

{% block button %}
  <a class="error-page__button btn btn-primary btn-lg" href="#">
    {{ 'Go back to Update assistant'|trans({}) }}
  </a>
{% endblock %}
