{% extends "@ModuleAutoUpgrade/components/dialog.html.twig" %}

{% set title = 'Delete backup'|trans({}) %}
{% set message = 'You are about to delete the [1]%backup_name%[/1] backup made on [1]%backup_date%[/1]. %redirect_message%'|trans({
  '%backup_name%': backup_name,
  '%backup_date%': backup_date,
  '%redirect_message%': is_only_backup ? 'As it\'s your only backup, you will be redirected to the module\'s home page.'|trans : '',
  '[1]': '<b>',
  '[/1]': '</b>'
}) %}
{% set dialogDanger = true %}

{% block dialog_content %}
  {{ parent() }}
{% endblock %}

{% block dialog_extra_content %}{% endblock %}

{% block dialog_footer %}
  <div class="dialog__footer">
    {% block dialog_footer_inner %}
      <button type="button" class="btn btn-link" data-dismiss="dialog">
        {{ 'Cancel'|trans({}) }}
      </button>

      <button type="button" class="btn btn-danger">
        {{ 'Delete'|trans({}) }}
      </button>
    {% endblock %}
  </div>
{% endblock %}
