@use "../variables" as *;

$e: ".error-page";

#{$ua-id} {
  #{$e} {
    &__container {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 4.5rem;
      place-items: center;
      padding: 4rem;
      background-color: var(--#{$ua-prefix}white);
      border: 1px solid var(--#{$ua-prefix}border-color);
    }

    &__img {
      max-width: 100%;
      height: auto;
      filter: var(--#{$ua-prefix}error-img-filter);
    }

    &__infos {
      justify-self: start;
    }

    &__title {
      margin-block-end: 1rem;
    }

    &__desc {
      font-size: 1rem;
      font-weight: 500;
    }

    &__button {
      padding: 0.875rem 1rem;
      margin-block-start: 2rem;
      font-size: 0.875rem;
      font-weight: 400;
      white-space: initial;
    }

    @container ua-error (max-width: 700px) {
      &__container {
        grid-template-rows: min-content;
        grid-template-columns: minmax(0, 1fr);
        gap: 2rem;
        place-items: start center;
        padding: 2rem;
      }

      &__img {
        width: 17.5rem;
      }

      &__infos {
        justify-self: center;
      }
    }
  }

  // Handle auto fit height
  @container html-height (min-width: 0) {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    min-height: calc(100cqh - var(--#{$ua-prefix}header-offset));
  }
}

// Handle auto fit height
html {
  &:has(#{$ua-id}) {
    &:has(.error-page) {
      container-type: size;
      container-name: html-height;

      #{$e} {
        display: grid;
        height: 100%;
        container-type: inline-size;
        container-name: ua-error;
      }
    }
  }
}
