@use "../variables" as *;

$e: "#ua";

#{$ua-id} {
  // Default BO theme layout fix
  padding-inline-end: 5px;
}

#{$e} {
  &_main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-block: 1rem;
    container-type: inline-size;
    container-name: ua-main;
  }

  &_container {
    padding: 4rem;
    background-color: var(--#{$ua-prefix}white);
  }

  &_step_content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &_privacy {
    text-align: center;
  }

  &_modal {
    height: 0;
  }

  @container ua-main (max-width: 700px) {
    &_container {
      padding: 2rem;
    }
  }
}
