@use "../variables" as *;

$e: ".page";

#{$e} {
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;

    @container ua-main (max-width: 479px) {
      .btn {
        width: 100%;
        justify-content: center;
      }
    }
  }
}
